<dx-data-grid
  keyExpr="id"
  [dataSource]="dataSource"
  [remoteOperations]="true"
  [showBorders]="true">
    <!-- Column Config-->
    <dxi-column dataField="id" caption="Id"></dxi-column>
    <dxi-column dataField="first_name" caption="First name"></dxi-column>
    <dxi-column dataField="last_name" caption="Last name"></dxi-column>
    <dxi-column dataField="email" caption="Email"></dxi-column>
    
    <!-- Pagin Config-->
    <dxo-paging 
      [pageSize]="5">
    </dxo-paging>  
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="[5, 10]"
      [showPageSizeSelector]="true"
      [showInfo]="true"
      [showNavigationButtons]="true">
  </dxo-pager>
</dx-data-grid>
